.ControlBar {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.Button {
  border: none;
  line-height: 2rem;
  padding: 0 1rem;
  background-color: #2196f3;
  color: white;
  font-size: 1em;
  border-radius: .25em;
  cursor: pointer;
}
.Button:hover {
  background-color: #1678c6;
}

.SearchInput {
  border: 0;
  border-bottom: 1px solid #EEE;
  padding: 5px 0;
  font-size: 1em;
  font-weight: 300;
  background-color: transparent;
  margin: 0 1rem;
}
.SearchInput:disabled {
  opacity: .65;
}
.SearchInput:focus {
  outline: none;
}

.Summary {
  flex-grow: 1;
  text-align: right;
}
