body {
  font-family: Roboto, 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  background-color: #e8e8e8;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: #2196f3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
