.ContactTable {
  width: 720px;
  margin: 2rem 0;
  position: relative;
}

.FlexTable {
}

.FlexTableRow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  border-bottom: 1px solid #CCC;
  font-size: 1.2em;
  text-transform: none;
}

.NoContactsMessage {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #AAA;
  font-weight: 100;
}
