.FlexTable {
  border: 1px solid #CCC;
  padding: 10px;
  margin: 0 auto;
}

.FlexTableRow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  border-bottom: 1px solid #AAA;
}
