.Title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 0;
  font-weight: normal;
}
.ResultsSummary {
  flex-grow: 1;
  text-align: right;
  font-size: .75rem;
}

.ControlBar {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.Button {
  border: none;
  line-height: 2rem;
  padding: 0 1rem;
  background-color: #3eb14f;
  color: white;
  font-size: 1em;
  border-radius: .25em;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.35s;
}
.Button:hover,
.Button:focus {
  transform: translate3d(0, -1px, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: 0;
}

.SearchInput {
  border: 0;
  border-bottom: 1px solid #CCC;
  padding: 5px 0;
  font-size: 1em;
  font-weight: 300;
  background-color: transparent;
  margin: 0 1rem;
}
.SearchInput:disabled {
  opacity: .65;
}
.SearchInput:focus {
  outline: none;
}

.VirtualScroll {
  width: 300px;
  height: 200px;
  border: 1px solid #e8e8e8;
  margin-top: 1rem;
}
